<header>
    <ul style="display: flex; gap: 10px; list-style: none;">
        <li>
            <a href="/">inicio</a>
        </li>
        <li>
            <a href="/about">nosotros</a>
        </li>
        <li>
            <a href="/contact">contacto</a>
        </li>
        <li>
            <a href="/login">login</a>
        </li>
    </ul>
</header>